.headerBar {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #fff;
}

.infoBar {
  display: flex;
  align-items: center;
  padding-right: 16px;
  :global {
    .info-text + .info-text {
      margin-left: 15px;
    }
  }
}

.username {
  margin-left: 3px;
  color: #1890ff;  
}

.avatar {
  cursor: pointer;
}

.siderBarTrigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: #1890ff;
  }
}
