.main {
  height: 100vh;
}

.loading {
  :global {
    .ant-spin {
      max-height: 100% !important;
    }
    .ant-spin-container {
      opacity: 1;
      &::after {
        opacity: 0;
      }
    }
  }
}
